/* cart */

.cart table{
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color: azure;
    background-color: orange;
}

.cart td{
    padding: 10px 20px;
}

.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart .product-info p{
    margin: 3px;
}

.cart input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.cart input:focus{
    outline: none;
}

.cart-total{
    display: flex;
    justify-content: flex-end;
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid orange;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.checkout-btn{
    display: flex;
    justify-content: flex-end;
    background-color: orange;
    color: #ffff;
}

.checkout-container{
    display: flex;
    justify-content: flex-end;
}