/* invoice.css */

body {
    font-family: Arial, sans-serif;
}

h2, h4 {
    color: #333;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.table tfoot th {
    border: none;
    background-color: transparent;
}

.text-end {
    text-align: right;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

@media print {
    .btn-primary {
        display: none;
    }
}

.h4invoice{
    /* align-items: start !important; */
    text-align: start;
}

.pi{
    text-align: start;
}

.hrpi{

    width: 100px;
    /* height: 5px; */
    flex-direction: start;
    /* margin: 0 auto; */
    color: rgb(248, 90, 33);
    border-top: 6px solid rgb(248, 90, 33);
    border-radius: 3px;;

}